<h1>Заметка 4</h1>

<p>Реюньон – это тропический остров, однако, он не является тем, который подходит под клише «солнечного рая на земле».</p>

<p>Конечно, вы найдете здесь привлекательные пляжи с белоснежным песком, обрамленные высокими пальмами, однако, эти пляжи не могут быть соперниками невероятно красивым пляжам Сейшельских островов и Маврикия.</p>

<p>Остров в Индийском океане, расположенный в 700 км к востоку от Мадагаскара. С 1946 года входит в состав одноимённого заморского департамента Франции. Площадь 2512 км².</p>

<p>Население 835 103 человек, около 40% - реюньонцы. Климат тропический пассатный.</p>

