<div class="header">
    <h1>Мои заметки</h1>
</div>

<div class="page-container">
    <div class="sidebar">

        <div class="list-items">
            <ul>
                <li *ngFor="let number of noteNumbers; let i = index">
                    <a routerLink="note-{{i+1}}" class="list-item">Заметка {{i+1}}</a>
                </li>


            </ul>  

        </div>

        <div class="add-button"><button type="submit" (click)="addNote()" class="list-item">Добавить заметку</button></div>
        

        
    </div>

    <div class="note-content-container">
       <router-outlet></router-outlet>


    </div>
    
    
    

</div>
